@import "../../node_modules/bootstrap/scss/bootstrap";


.navcontainer {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 99;
 
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
        background-color: rgb(255, 255, 255);
        height:50px;
        box-shadow: 0px 5px 10px #131a3a23;

        a.icon {
            display:none;
            @media screen and (max-width: 600px) {
                float: right;
                display: block;
            }
        }
        
        a{
            height:inherit;
            flex:1;
            font-size: 16px;
            background: transparent;
            border:transparent;
            color: #131a3a;
            transition-duration: 0.4s;
            text-align: center;
            text-decoration: none;
            line-height:50px;
            font-family: 'GlacialIndifferenceRegular'; font-weight: normal; 
            font-style: normal; 
        }

        a:hover { 
            flex-grow: 1.2;
            background:#002aff;
            color:white;
          }

        .name{
            height:inherit;
            flex:1;
            font-size: 16px;
            background: transparent;
            border:transparent;
            color: #131a3a;
            transition-duration: 0.4s;
            font-family: 'GlacialIndifferenceBold'; font-weight: normal; 
            font-style: normal; 
            color: #002aff;
        }

        .contact{
            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}
    

.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    .headerCard {
        min-height: 70vh;
        width:90%;
        max-width: 1000px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .headerText {
        display: flex;
        flex-direction: row;
        align-items: center;
        height:400px;
        
            .johnBlob {
                margin-left: 10px;
                width: 33vw;
                max-width: 350px;
            }
        }

        .titleContainer {
            width:100%;
            
            .title{
            display: flex;
            align-items: left;
            width:60%;
            margin-bottom: -80px;
            font-family: 'Fredoka One';
            font-size: 60px;
            

            @media (max-width: 425px) { 
                font-size: 13vw;
            }
            
            }
        }
        

        h5 {
            font-family: 'GlacialIndifferenceRegular'; font-weight: normal; 
            font-style: normal; 
            margin: 20px 0px;

            @media (max-width: 425px) { 
                font-size: 4.5vw;
            }

            @media (max-width: 550px) { 
                margin-top: 50px;
            }
        }

        .buttons{
            display: flex;
            flex-direction: row;
            gap: 20px;

            margin-top: -80px;
            width:100%;
            @media (max-width: 550px) { 
                font-size: 16px;
                margin-top: -50px;
                justify-content: space-evenly;
            }

            a{
                
                font-family: 'GlacialIndifferenceBold'; font-weight: normal; 
                font-style: normal; 
                border: transparent;
                border-radius: 10px;
                background:#002aff;
                //background: radial-gradient(100% 402.45% at 1.56% 0%, #7d93ff 0%, #bd76f3 100%);
                padding: 10px 20px;
                //margin-right: 20px;
                width: 160px;
                color:white;
                transition-duration: 0.4s;
                box-shadow: 0px 3px 10px #0022ca4f;
                text-align: center;
                text-decoration: none;
            }

            @media (hover: hover) {
                a:hover{
                    width: 200px;
                }
            }
            
            .download{
                color: #002aff;
                background: white;
                box-shadow: 0px 3px 10px #0000004f;
            }
        }
    }
}

.ProjectsCards{ //All containers of projects
    
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .titleContainer{
        width:90%;
        align-self: center;
        padding: 20px 0px;
        margin-top: 80px;

    }

    hr{
        width: 80vw;
        max-width: 1000px;
        margin: auto;
    }

    .title{
        font-family: 'GlacialIndifferenceRegular'; font-weight: normal; 
        font-style: normal; 
        text-align: center;


    }

    .card{
        margin-bottom: 40px;
        width: 90%;
        display: flex;
        flex-direction: row;
        padding: 10px;

        @media (min-width: 1260px) {
            max-width: 600px;
           
        }

        @media (min-width: 900px) {
            height:540px;
        }
        

        //Glass style
        background: radial-gradient(100% 402.45% at 1.56% 0%, rgba(255, 255, 255, 0.884) 0%, rgba(255, 255, 255, 0.226) 100%);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        backdrop-filter: blur(5px);
        border-radius: 32px;
        box-shadow: 0px 5px 10px #00000034;
    }

    .text{
        flex: 1;
        justify-content: center;
        align-self: center;
        color: #131a3a;
        margin: 0px 20px ;
        
    }

    .pics{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    h2 {
        font-family: 'Fredoka One';
    }

    img{
        max-width: 90%;
        border: 5px solid rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0px 3px 10px #0000004f;
    }
    
    button{
        font-family: 'GlacialIndifferenceBold'; font-weight: normal; 
        font-style: normal; 
        border: transparent;
        border-radius: 10px;
        background: transparent;
        padding: 10px 20px;
        margin-bottom: 20px;
        color:#002aff;
        width: 130px;
        background:white;
        box-shadow: 0px 3px 10px #0000004f;
        transition-duration: 0.4s;
    }

    button:hover { 
        width: 170px;
        
    }

    .UniquizCard { //Container
        display: flex;
        flex-direction: column;
        align-items: center;

        .card { //Transparent card
            
                flex-direction: column;

            .text{
                padding: 20px 0px;  
            }
            
            
            .pics{ //Image container
                
                flex-direction: row;
                justify-content: space-evenly;
            
                margin: 30px auto 20px;
                
                
                img{ //Images on card

                    
                    align-self: center;
                    max-width: 40%;
                    
                    @media (max-width: 600px) {
                        align-self: center;
                        max-width: 80%;
                    }
                }

                .login{ //Images on card
                    @media (max-width: 600px) {
                        display: none;
                    }
                }
            }
        }
    }

    .NGFCard { //Container
        display: flex;
        flex-direction: column;
        align-items: center;

        .card { //Transparent card
            @media (max-width: 550px) {
                flex-direction: column;
            }

            .text{
                padding: 20px 0px;  
            }
            
            .pics{ //Image container
                    justify-content: center;
                
                img{ //Images on card
                    align-self: center;
                    max-height: 85%;
                    @media (max-width: 550px) {
                        max-width: 40%;
                        margin: 30px auto 10px;
                    }
                }
            }
        }
    }

    .ThaiboatCard { //Container
        display: flex;
        flex-direction: column;
        align-items: center;

        .card { //Transparent card
            @media (max-width: 550px) {
                flex-direction: column;
            }

            .text{
                padding: 20px 0px;
                }
            
            .pics{ //Image container
                justify-content: center;
                
                img{ //Images on card
                    align-self: center;
                    max-height: 85%;
                    margin: 20px;
                    @media (max-width: 550px) {
                        max-width: 40%;
                        margin: 30px auto 10px;
                    }
                }
            }
        }
    }

    .MirowCard { //Container
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .card { //Transparent card
            
            flex-direction: column;

            .text{
                padding: 20px 0px;
                
                @media (min-width: 1260px) {
                        
                    padding: 0px
                }
            }
            
            
            .pics{ //Image container
                
                
                video{ //Images on card
                    
                    align-self: center;
                    max-width:70%;
                    margin: 30px 10px;
                    border: 5px solid rgb(255, 255, 255);
                    border-radius: 10px;
                    box-shadow: 0px 3px 10px #0000004f;

                    @media (min-width: 1260px) {
                        
                        margin: 30px 0px;
                    }

                    @media (max-width: 1260px) {
                        max-width: 500px;
                    }
                  
                    @media (max-width: 700px) {
                        max-width:80%;
                    }
                }
            }
        }
    }
}
  
