@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");



body {
  
  margin: 0;
  font-family: 'Fredoka One', cursive, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  //--bs-body-bg: white;
  //font-family: 'Open Sans', light;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


html {
  /* CSS custom property for the polyfill */
  --scroll-behavior: smooth;

  /* Normal CSS property for browsers with native support */
  scroll-behavior: smooth;
}

/*linear-gradient(0deg, #f38787 0%, #fffaf2 100%)*/