@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  
  margin: 0;
  font-family: 'Fredoka One', cursive, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //background: linear-gradient(90deg, #5472fa 0%, #131a3a 50%, #131a3a 100%);
  

  //font-family: 'Open Sans', light;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*linear-gradient(0deg, #f38787 0%, #fffaf2 100%)*/